<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="wappKaraoke.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="20960"/>
    <customErrors mode="Off"/>
  </system.web>

  <applicationSettings>
    <wappKaraoke.Properties.Settings>
      <setting name="sCaminhoKaraoke" serializeAs="String">
        <value>Arquivos\Musicas\Karaoke\</value>
      </setting>
      <setting name="sCaminhoCantado" serializeAs="String">
        <value>Arquivos\Musicas\Cantado\</value>
      </setting>
      <setting name="sCaminhoKaraokeConcurso" serializeAs="String">
        <value>../Arquivos/Musicas/KaraokeConcurso/</value>
      </setting>
      <setting name="sCaminhoArqImagens" serializeAs="String">
        <value>Arquivos\Imagens\</value>
      </setting>
      <setting name="sCaminhoArqDocumentos" serializeAs="String">
        <value>Arquivos\Documentos\</value>
      </setting>
      <setting name="sCaminhoTemp" serializeAs="String">
        <value>Arquivos\Temp\</value>
      </setting>
      <setting name="sPortaCOM" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="sCodStatusPronto" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="sCodStatusCantou" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="sCodStatusMudouOrdem" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="sCodStatusCantando" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="sTempoAtualizaçãoPainel" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="sCodFaseInicial" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sCodStatusInicial" serializeAs="String">
        <value>1</value>
      </setting>
    </wappKaraoke.Properties.Settings>
  </applicationSettings>
</configuration>
